body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #34495e;
    color: #ecf0f1;
}

header {
    background-color: #e74c3c;
    text-align: center;
    padding: 20px;
}


nav {
    background-color: #3498db;
    padding: 10px;
    box-shadow: inset 0px 5px 5px #83c3ed;
    box-shadow: 2px 5px 5px rgb(22, 69, 113);
}


nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}


nav ul li {
    display: inline;
    margin-right: 20px;
}


nav ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s ease;
    /* Agregué una transición al color para suavizar el cambio */
}


nav ul li a:hover {
    color: #0b64bd;
    /* Cambio de color al pasar el ratón */
}


main {
    padding: 20px;
}


.main-heading {
    color: rgb(101, 47, 47);
    font-size: 6em;
    margin: 0;
}

.saga-section {
    background-color: #2ecc71;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    /* Bordes redondeados */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    /* Sombra ligera */
}

.saga-section h2 {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 10px;
}

.saga-section p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #ffffff;
}

.saga-section img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    transition: transform 0.3s ease;
    /* Agregué una transición para el efecto de escala */
}

.saga-section img:hover {
    transform: scale(1.05);
    /* Efecto de escala al pasar el ratón */
}


#saga1 {
    background-color: #2ecc71;
    padding: 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

#saga1 .section-heading {
    color: #ffffff;
    font-size: 2em;
    margin-bottom: 10px;
}

#saga1 p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #ffffff;
}

#imgSaiyajin {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
    transition: transform 0.3s ease;
}

#imgSaiyajin:hover {
    transform: scale(1.1);
}

#main-footer {
    background-color: #333;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


footer {
    background-color: #333;
    color: #ecf0f1;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}


@media screen and (max-width: 600px) {
    

    body {
        background-color: #d9d9d9;
    }

    h1 {
        font-size: 2em;
    }

    nav ul {
        flex-direction: column;
    }

    .saga-section img {
        max-width: 100%;
        color: #33633e;
        box-shadow: 5px 5px 5px #2c8c54;
        border-radius: 10px 0px 10px 0px;
        
    }

    .saga-section h2 {
        box-shadow: 5px 5px 5px #94b9a4;
        background-color: rgb(63, 205, 125);
        border-radius: 10px 0px 10px 0px;
    }

    footer {
        position: static;
        width: auto;
    }
}

@media screen and (min-width: 601px) and (max-width: 1024px) {

    body {
        background-color: #d7751e;
        
    }

    .saga-section h2 {
        color: #33633e;
        box-shadow: 5px 5px 5px #2c8c54;
        border-radius: 10px 0px 10px 0px;
    }
    /* Estilos para pantallas medianas */
}

@media screen and (min-width: 1025px) {

    body {
        background-color: #2f70ae;
    }
    /* Estilos para pantallas grandes */

}